@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center;color:dimgrey">VEHICLE SETUP</h1>
    
</div>

<div class="row">

    <div class="col-md-6">
        <a href="~/FleetAssets" style="color:aliceblue;font-size:medium" data-toggle="tooltip" title="Fleet Asset">
            <p class="mycard">Fleet Asset</p>
        </a>
     </div>

    <div class="col-md-6">
        <a href="~/Account/Login" style="color:aliceblue;font-size:medium" data-toggle="tooltip" title="Login">
            <p class="mycard">Login</p>
        </a>
    </div>
    
</div>